<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/7.0/phpunit.xsd" bootstrap="./bootstrap.php">
    <testsuites>
        <testsuite name="Paynow Magento2 Unit Tests">
            <directory suffix="Test.php">Unit</directory>
        </testsuite>
    </testsuites>
</phpunit>
