language: php
sudo: false
php:
  - 7.1
  - 7.2
  - 7.3
before_script:
  - echo "{\"http-basic\":{\"repo.magento.com\":{\"username\":\"${MAGENTO_USERNAME}\",\"password\":\"${MAGENTO_PASSWORD}\"}}}" > auth.json
  - composer install --prefer-dist
branches:
  except:
    - master