<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <paynow_gateway>
                <active>1</active>
                <debug>1</debug>
                <extra_logs>1</extra_logs>
                <order_status_change>1</order_status_change>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>0</can_void>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>0</can_use_internal>
                <currency>PLN</currency>
                <is_gateway>1</is_gateway>
                <send_order_items>0</send_order_items>
                <use_payment_validity_time>0</use_payment_validity_time>
                <payment_validity_time>86400</payment_validity_time>
                <show_payment_methods>0</show_payment_methods>
                <hide_payment_methods>[]</hide_payment_methods>
                <model>PaynowPaymentGatewayFacade</model>
                <payment_action>authorize</payment_action>
                <sort_order>1</sort_order>
                <title>Pay by paynow.pl</title>
                <group>paynow_group</group>
            </paynow_gateway>
            <paynow_blik_gateway>
                <active>1</active>
                <debug>1</debug>
                <extra_logs>1</extra_logs>
                <order_status_change>1</order_status_change>
                <currency>PLN</currency>
                <is_gateway>1</is_gateway>
                <model>PaynowBlikPaymentGatewayFacade</model>
                <payment_action>authorize</payment_action>
                <sort_order>1</sort_order>
                <title>Blik with paynow.pl</title>
                <group>paynow_group</group>
            </paynow_blik_gateway>
            <paynow_card_gateway>
                <active>1</active>
                <debug>1</debug>
                <extra_logs>1</extra_logs>
                <order_status_change>1</order_status_change>
                <currency>PLN</currency>
                <is_gateway>1</is_gateway>
                <model>PaynowCardPaymentGatewayFacade</model>
                <payment_action>authorize</payment_action>
                <sort_order>1</sort_order>
                <title>Card with paynow.pl</title>
                <group>paynow_group</group>
            </paynow_card_gateway>
            <paynow_digital_wallet_gateway>
                <active>1</active>
                <debug>1</debug>
                <extra_logs>1</extra_logs>
                <order_status_change>1</order_status_change>
                <currency>PLN</currency>
                <is_gateway>1</is_gateway>
                <model>DigitalWalletPaymentGatewayFacade</model>
                <payment_action>authorize</payment_action>
                <sort_order>1</sort_order>
                <title>Digital wallets with paynow.pl</title>
                <group>paynow_group</group>
            </paynow_digital_wallet_gateway>
            <paynow_pbl_gateway>
                <active>1</active>
                <debug>1</debug>
                <extra_logs>1</extra_logs>
                <order_status_change>1</order_status_change>
                <currency>PLN</currency>
                <is_gateway>1</is_gateway>
                <model>PblPaymentGatewayFacade</model>
                <payment_action>authorize</payment_action>
                <sort_order>1</sort_order>
                <title>Pbl with paynow.pl</title>
                <group>paynow_group</group>
            </paynow_pbl_gateway>
        </payment>
    </default>
</config>