<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="paynow_gateway_config_provider" xsi:type="object">
                    Paynow\PaymentGateway\Model\Ui\DefaultConfigProvider
                </item>
                <item name="paynow_blik_gateway_config_provider" xsi:type="object">
                    Paynow\PaymentGateway\Model\Ui\BlikConfigProvider
                </item>
                <item name="paynow_card_gateway_config_provider" xsi:type="object">
                    Paynow\PaymentGateway\Model\Ui\CardConfigProvider
                </item>
                <item name="paynow_digital_wallet_gateway" xsi:type="object">
                    Paynow\PaymentGateway\Model\Ui\DigitalWalletConfigProvider
                </item>
                <item name="paynow_pbl_gateway_config_provider" xsi:type="object">
                    Paynow\PaymentGateway\Model\Ui\PblConfigProvider.php
                </item>
            </argument>
        </arguments>
    </type>
</config>
