<div class="payment-method" data-bind="css: {'_active': isButtonActive()}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label data-bind="attr: {'for': getCode()}" class="label">
            <img data-bind="attr: {src: getLogoPath(), alt: $t('BLIK, bank transfers and card payments'), width: 80}" class="payment-icon"/>
            <span data-bind="i18n: 'BLIK, bank transfers and card payments'"></span>
        </label>
    </div>
    <div class="payment-method-content">

        <div class="paynow-payment-options" data-bind="visible: isButtonActive()">
            <span data-bind="i18n: 'Choose payment method:'"></span>
            <div data-bind="visible: isButtonActive(), foreach: methods">
                <div class="paynow-payment-option" data-bind="css: {'disabled': $data.enabled !== true}, attr: {'id': 'payment_method_' + $data.id }, click: $parent.setPaymentMethod.bind($parent)">
                    <div>
                        <img data-bind="attr: {src: $data.image, alt: $data.description}"/>
                    </div>
                </div>
            </div>
        </div>

        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->

        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="click: placeOrder,
                        attr: {title: $t('Place Order')},
                        css: {disabled: !isPlaceOrderActionAllowed()},
                        enable: isButtonActive()"
                        disabled>
                    <span data-bind="i18n: 'Place Order'"></span>
                </button>
            </div>
        </div>
    </div>
</div>