<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment" translate="label" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
            <group id="paynow" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Pay by paynow.pl</label>
                <comment>Accepts payments by paynow.pl</comment>
                <attribute type="expanded">1</attribute>
                <include path="Paynow_PaymentGateway::system/paynow_getting_started.xml"/>
                <include path="Paynow_PaymentGateway::system/paynow_general_settings.xml"/>
                <include path="Paynow_PaymentGateway::system/paynow_sandbox_settings.xml"/>
                <include path="Paynow_PaymentGateway::system/paynow_production_settings.xml"/>
                <include path="Paynow_PaymentGateway::system/paynow_payment_methods_settings.xml"/>
            </group>
        </section>
    </system>
</config>