.paynow-payment-options div {
    flex-wrap: wrap;
    display: flex;
    padding: 1rem;
}

.paynow-payment-option {
    margin: 1%;
    flex-basis: 18%;
    display: flex;
    flex-direction: column;
}

.paynow-payment-option div {
    padding: 10px;
    border: 1px solid #e6e6e6;
    height: 60px;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    display: flex;
    background: #ffffff;
    transition: all 250ms;
}

.paynow-payment-option div img {
    max-width: 80px;
    width: 100%;
    max-height: 100% !important;
}

.paynow-payment-option:not(.disabled):hover div,
.paynow-payment-option:not(.disabled).active div {
    border: 1px solid #d2d2d2;
    background: #f3f3f3;
}

.paynow-payment-option.disabled div {
    background: #fdfdfd;
}

.paynow-payment-option.disabled div img {
    opacity: 0.3;
    filter: grayscale(1);
}

.paynow-payment-option.disabled div {
    cursor: not-allowed;
}

.paynow-payment-option-blik {
    padding: 1rem;
}

.paynow-payment-option-blik .paynow-data-processing-info {
    margin-top: 1rem;
}

.paynow-payment-option-blik label {
    display: inline-block;
    text-align: left;
    font-weight: 700;
    margin-right: 2rem;
}

.paynow-payment-option-blik input[type=text] {
    letter-spacing: 10px;
    display: inline-block;
    width: 150px;
    text-align: center;
    padding: 1.75rem;
    background: #f6f6f6;
}

.paynow-data-processing-info {
    color: #797979;
    text-align: justify;
}

.payment-form .paynow-data-processing-info {
    font-size: 0.7rem;
}

.paynow-data-processing-info ul {
    list-style-type: lower-alpha;
    margin: 0 1rem;
}

.paynow-data-processing-info .expand {
    cursor: pointer;
}