.paynow-payment-options div {
    flex-wrap: wrap;
    display: flex;
}

.paynow-payment-options-card .paynow-data-processing-info,
.paynow-payment-options .paynow-data-processing-info {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.paynow-payment-option {
    margin: 1%;
    flex-basis: 18%;
    display: flex;
    flex-direction: column;
}

.paynow-payment-option div {
    padding: 10px;
    border: 1px solid #e6e6e6;
    height: 60px;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    display: flex;
    background: #ffffff;
    transition: all 250ms;
}

.paynow-payment-option div img {
    max-width: 80px;
    width: 100%;
    max-height: 100% !important;
}

.paynow-payment-option:not(.disabled):hover div {
    border: 1px solid #d2d2d2;
    background: #f3f3f3;
}

.paynow-payment-option:not(.disabled).active div {
    border: 2px solid #16A035;
    background: #f3f3f3;
}

.paynow-payment-option.disabled div {
    background: #fdfdfd;
}

.paynow-payment-option.disabled div img {
    opacity: 0.3;
    filter: grayscale(1);
}

.paynow-payment-option.disabled div {
    cursor: not-allowed;
}

.paynow-payment-option-blik {
    padding: 1rem;
}

.paynow-payment-option-blik .paynow-data-processing-info {
    margin-top: 1rem;
}

.paynow-payment-option-blik label {
    display: inline-block;
    text-align: left;
    font-weight: 700;
    margin-right: 2rem;
}

.paynow-payment-option-blik input[type=text] {
    letter-spacing: 10px;
    display: inline-block;
    width: 150px;
    text-align: center;
    padding: 1.75rem;
    background: #f6f6f6;
}

.paynow-data-processing-info {
    color: #797979;
    text-align: justify;
}

.payment-form .paynow-data-processing-info {
    font-size: 0.7rem;
}

.paynow-data-processing-info ul {
    list-style-type: lower-alpha;
    margin: 0 1rem;
}

.paynow-data-processing-info .expand {
    cursor: pointer;
}

.paynow-payment-option-card {
    border: 1px solid #D2D2D2;
    border-radius: 3px;
    display: flex !important;
    align-items: stretch;
    height: 60px;
    width: 100%;
    background-color: transparent;
    margin: 10px 0;
    position: relative;
}

.paynow-payment-option-card.loading {
    opacity: 0.4;
}

.paynow-payment-option-card.active {
    background: #f3f3f3;
}

.paynow-payment-option-card:not(.disabled) {
    cursor: pointer;
}

.paynow-payment-card-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.paynow-payment-card-details p {
    margin: 0;
    text-align: left;
}

.paynow-payment-card-details-card-name {
    font-size: 12px;
    line-height: 20px;
    color: #000000;
}

.paynow-payment-card-details-card-name.paynow-expired {
    color: #8E8E8E;
}

.paynow-payment-card-details-expiration {
    font-size: 10px;
    line-height: 20px;
    color: #8E8E8E;
}

.paynow-payment-card-details-expiration.paynow-expired {
    color: #E52E07;
}

.paynow-payment-card-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 96px;
}

.paynow-payment-card-image img {
    max-width: 40px;
    max-height: 24px;
}

.paynow-payment-card-menu {
    position: absolute;
    top: 25px;
    right: 13px;
    z-index: 1;
}

.paynow-payment-option-card .paynow-payment-card-remove {
    position: absolute;
    height: auto;
    width: auto;
    border: none;
    white-space: nowrap;
    right: 0;
    bottom: -25px;
    box-shadow: 0 4px 4px 0 #00000040;
    padding: 5px 25px;
    background-color: white;
    z-index: 2;
    font-size: 12px;
    line-height: 20px;
    cursor: pointer;
}

.paynow-payment-option-card .paynow-payment-card-remove.--hidden {
    display: none !important;
}

.paynow-payment-option-card .paynow-payment-card-remove:hover {
    background-color: #f1f1f1;
}

.paynow-payment-option-card .paynow-payment-card-menu-button {
    height: auto;
    border: none;
    cursor: pointer;
    background-color: transparent;
    padding: 0;
    font-size: 12px;
    line-height: 20px;
    text-decoration: underline;
}

.paynow-payment-card-error {
    font-size: 10px;
    color: #E52E07;
}
