.paynow-payment-options {
    flex-wrap: wrap;
    display: flex;
}

.paynow-payment-option {
    margin: 1%;
    flex-basis: 18%;
    display: flex;
    flex-direction: column;
}

.paynow-payment-option div {
    padding: 10px;
    border: 1px solid #e6e6e6;
    height: 50px;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    display: flex;
}

.paynow-payment-option label img {
    max-width: 80px;
    width: 100%;
    max-height: 100% !important;
}

.paynow-payment-option:not(.disabled):hover div,
.paynow-payment-option:not(.disabled).active div {
    border: 1px solid #d2d2d2;
    background: #f3f3f3;
}

.paynow-payment-option.disabled div {
    background: #fdfdfd;
}

.paynow-payment-option.disabled div img {
    opacity: 0.3;
    filter: grayscale(1);
}

.paynow-payment-option.disabled div {
    cursor: not-allowed;
}