.paynow-confirm-blik {
    text-align: center;
    background: #fff;
    padding: 1.5rem;
    margin-bottom: 1rem;
}

.paynow-confirm-blik img {
    max-width: 35%;
}

.paynow-confirm-blik .headline {
    font-size: 1.8125rem;
    color: #232323;
    font-weight: 700;
}